<main>
    <h2>What is Geomancy?</h2>
    <p>The Geomancy module is a general purpose tool created to generate, monitor and manipulate geometric shapes and lines on a 2 dimensional plane.</p>
    <br>
    <p>Assess collisions, check if points are along lines or circumferences and track paths - whether it be for animation or mathematical simulations.</p>
    <br>
    <p>Expos Below
        <svg xmlns="http://www.w3.org/2000/svg" fill="rgb(65,25,108)" style="transform: rotate(90deg) translateX(10px);" width="24" height="24" viewBox="0 0 24 24"><path d="M14 12l-14 9v-18l14 9zm-4-9v4l8.022 5-8.022 5v4l14-9-14-9z"/></svg>
    </p>
    <canvas #canvas1></canvas>
</main>